services:
  web:
    # replace username/repo:tag with your name and image details
    image: darchery/p2-mediciones-contenedores:ej2
    ports:
      - "4000:80"
    networks:
      - webnet
    environment:
      - REDIS_HOST=redis
      
  redis:
    image: redis
    ports:
      - "6379:6379"   
    deploy:
      placement:
        constraints: [node.role == manager]
    networks:
      - webnet
  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - redis
    networks:
      - webnet
    environment:
      GF_INSTALL_PLUGINS: redis-datasource
volumes:
    grafana_data:

networks:
  webnet:
